<nav>
  <a href="/" class="back bg20"><i class="material-icons">keyboard_arrow_left</i></a>
  <a href="/bands" class="link w100 bg20">Bands</a>
</nav>

<div id="content" class="bands-content ts">
  {{#if user}}
    <div class="bands-heading mw800">Your Bands</div>
    {{#user.bands}}
      <a class="band-name" href="/bands/{{band_id}}">{{band_name}}</a>
    {{/user.bands}}
  {{/if}}
  <div class="bands-heading">Public Bands</div>
  {{#bands}}
    <a class="band-name" href="/bands/{{id}}">{{band_name}}</a>
  {{/bands}}
</div>
