input[type="radio"], input[type="checkbox"] {display: none;}

.add-gig {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gig-edit {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 20px;
  right: 2%;
  font: 16px "Droid Sans";
  text-align: center;
  overflow: hidden;
}
.gig-edit div {
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s all;
  height: 40px;
  padding: 10px;
}
.gig-edit-edit {
  color: black;
  height: 40px;
  width: 100px;
  background: rgb(200,200,200);
  opacity: 1;
}
.gig-edit.open .gig-edit-edit {height: 0px; padding: 0px; opacity: 0;}
.gig-edit-save, .gig-edit-cancel {position: absolute; width: 50px; top: 40px;}
.gig-edit.open .gig-edit-cancel, .gig-edit.open .gig-edit-save {top: 0px;}
.gig-edit-save {left: 0; background: rgba(200,200,200);}
.gig-edit-cancel {right: 0;}

.panel {
  overflow: hidden;
  position: absolute;
  top: 0px; left: 0;
  transition: .2s all;
  height: 100%;
  width: 100%;
}

.panel-side, .panel-main {vertical-align: text-top; height: 100%; display: inline-block; box-sizing: border-box; transition: .2s all;}
.panel-side {width: 250px; background: rgba(20,20,20,.5); border-right: 1px solid black;}

.title {
  display: block;
  color: white;
  background: rgba(20,20,20,.6);
  cursor: pointer;
}
.heading {
  transition: .2s all;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  font: 16px "Droid Sans";
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.heading.open {height: 80px;}
.heading input, .heading i {position: absolute;}
.heading input {top: 40px; width: 170px; left: 0; font: 16px "Droid Sans"; height: 40px; border: none; box-sizing: border-box; padding: 10px;}
.submit-gig, .cancel-gig {width: 20px; padding: 10px; top: 40px;}
.submit-gig {right: 40px;}
.submit-gig:hover, .gig-edit-save:hover {background: rgba(39, 215, 46, 0.7);}
.cancel-gig {right: 0px;}
.cancel-gig:hover, .gig-edit-cancel:hover {background: rgba(186, 34, 34, 0.7);}


.title div, .member div, .member label {
  transition: .2s all;
  vertical-align: text-top;
  box-sizing: border-box;
  font: 16px "Droid Sans";
  display: inline-block;
}
.title div:first-child {
  padding: 10px 5px;
  text-align: center;
  height: 40px;
  width: 50px;
  color: black;
  background: rgba(240,240,240,.8);
}
.title div:last-child {
  padding: 10px 5px 10px 10px;
  width: 199px;
  background: rgba(20,20,20,.8);
}

.member {position: relative;}

.member div {
  overflow: hidden;
  padding: 0px;
  text-align: center;
  height: 40px;
  width: 0px;
  color: white;
  background: rgb(100, 10, 10);
}
.call {
  transition: .2s all;
  box-sizing: border-box;
  background: rgb(200,200,200);
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  height: 40px;
  width: 50px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}

.member label {
  padding: 10px 5px 10px 10px;
  width: 199px;
  color: white;
  background: rgba(20,20,20,.8);
}
input[type="checkbox"]:checked + .member div {width: 50px; padding: 10px 5px;}
input[type="checkbox"]:checked + .member .call {width: 0px; padding: 0px;}
/*input[type="checkbox"]:checked + .member label {width: 199px;}*/

.title div:last-child:hover {background: rgba(20,20,20,.9);}

.panel-main {
  width: 0;
  opacity: 0;
  background: rgba(20,20,20,.3);
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
}

input[type="radio"]:checked + .panel-main {width: calc(100% - 250px); opacity: 1;}

.gig-title {text-align: center; font: 700 40px "Droid Sans"; padding: 20px;}

.gig-date, .gig-load, .gig-start, .gig-end {
  text-align: center;
  box-sizing: border-box;
  font: 16px "Droid Sans";
  display: inline-block;
  width: calc(90% / 4);
}
.gig-date div:first-child, .gig-load div:first-child, .gig-start div:first-child, .gig-end div:first-child {
  color: rgb(200,200,200);
  font-size: 14px;
  padding-bottom: 5px;
}
.gig-date div:last-child, .gig-load div:last-child, .gig-start div:last-child, .gig-end div:last-child {
  border: 1px solid black;
  padding: 10px;
  background: rgba(20,20,20,.7);
}
.gig-date, .gig-load, .gig-start {margin-left: 2%;}
.gig-end {margin: 0 2%;}
.gig-setlist {
  margin-top: 20px;
  background: rgba(20,20,20,.7);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.gig-setlist div {
  display: inline-block;
  box-sizing: border-box;
}

.setlist-title {
  text-align: center;
  padding: 10px;
  font: 20px "Droid Sans";
  width: 25%;
}

.setlist-description {
  font: 16px "Droid Sans";
  width: 75%;
}

.song {
  transition: .2s all;
  position: relative;
  background: rgba(240,240,240,.6);
  border-bottom: 1px solid rgb(100,100,100);
  height: 40px;
}
.song.open {margin: 10px;}

.gig-song, .song-info, .song-inputs {
  position: absolute;
  top: 0;
}
.gig-song {
  left: 0;
  box-sizing: border-box;
  color: black;
  font: 16px "Droid Sans";
  padding: 10px;
  width: calc(200% / 3);
  height: 40px;
}

.song-info, .song-inputs {
  right: 0;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 2px;
  vertical-align: top;
  overflow: hidden;
}
.song-info {height: 40px;}
.song-info.hide {height: 0px;}
.song-inputs {height: 0px;}
.song-inputs.show {height: 40px;}
.song-inputs input {color: white;}

input[type="checkbox"]:checked + .gig-song + .song-info {height: 48px;}

.song-key, .time-signature, .feel, .tempo {
  vertical-align: text-top;
  box-sizing: border-box;
  width: calc(90% / 4);
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 2%;
  height: 36px;
  background: rgb(20,20,20);
  font: 12px "Droid Sans";
}
.tempo {margin-right: 2%;}
