input[type="radio"], input[type="checkbox"] {display: none;}

.panel {
  overflow: hidden;
  position: absolute;
  top: 0px; left: 0;
  transition: .2s all;
  height: 100%;
  width: 100%;
}

.panel-side, .panel-main {vertical-align: text-top; height: 100%; display: inline-block; box-sizing: border-box; transition: .2s all;}
.panel-side {width: 250px; background: rgba(20,20,20,.5); border-right: 1px solid black;}

.title {
  display: block;
  color: white;
  background: rgba(20,20,20,.6);
  cursor: pointer;
}
.heading {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  font: 16px "Droid Sans";
  width: 100%;
  height: 40px;
}
.title div {
  box-sizing: border-box;
  padding: 10px 5px;
  font: 16px "Droid Sans";
  display: inline-block;
}
.title div:first-child {
  text-align: center;
  width: 50px;
  color: black;
  background: rgba(240,240,240,.8);
}
.title div:last-child {
  width: 199px;
  background: rgba(20,20,20,.8);
}

.title:hover {background: rgba(20,20,20,.9);}

.panel-main {
  width: 0;
  opacity: 0;
  background: rgba(20,20,20,.3);
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
}

input[type="radio"]:checked + .panel-main {width: calc(100% - 250px); opacity: 1;}

.gig-title {text-align: center; font: 700 40px "Droid Sans"; padding: 20px;}

.gig-date, .gig-load, .gig-start, .gig-end {
  text-align: center;
  box-sizing: border-box;
  font: 16px "Droid Sans";
  display: inline-block;
  width: calc(90% / 4);
}
.gig-date div:first-child, .gig-load div:first-child, .gig-start div:first-child, .gig-end div:first-child {
  color: rgb(200,200,200);
  font-size: 14px;
  padding-bottom: 5px;
}
.gig-date div:last-child, .gig-load div:last-child, .gig-start div:last-child, .gig-end div:last-child {
  border: 1px solid black;
  padding: 10px;
  background: rgba(20,20,20,.7);
}
.gig-date, .gig-load, .gig-start {margin-left: 2%;}
.gig-end {margin: 0 2%;}
.gig-setlist {
  padding: 10px;
  font: 20px "Droid Sans";
  margin: 20px 2% 0px 2%;
  background: rgba(20,20,20,.7);
  border: 1px solid black;
}
.gig-song {
  transition: .2s all;
  display: block;
  color: black;
  margin: 0 2%;
  font: 16px "Droid Sans";
  padding: 10px;
  background: rgba(240,240,240,.4);
}

.song-info {
  margin: 0 2%;
  transition: .2s all;
  background: rgba(240,240,240,.4);
  height: 0px;
}

input[type="checkbox"]:checked + .gig-song {margin: 10px 2% 0px 2%;}
input[type="checkbox"]:checked + .gig-song + .song-info {height: 39px; margin: 0px 2% 10px 2%;}
