.home-content {
  color: white;
  font: 16px "Droid Sans";
  padding: 200px 20px;
  text-align: center;
}
.home-content h1, .home-content h2, .home-content h3 {
  text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
}

@media (max-width: 600px) {.home-content {font: 14px "Droid Sans";}}
@media (max-width: 475px) {.home-content {font: 12px "Droid Sans";}}
@media (max-width: 420px) {.home-content {font: 10px "Droid Sans";}}
