nav {
  vertical-align: text-top;
  background: rgb(100, 10, 10);
  border-bottom: 1px solid black;
  height: 39px;
  overflow: hidden;
}

.link {
  transition: .2s all;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font: 16px "Droid Sans";
  padding: 10px;
  text-align: center;
  color: white;
  opacity: 1;
  width: 100px;
}

.back {vertical-align: bottom; height: 29px; padding-top: 10px; width: 20px; color: white; cursor: pointer;}
.signin, .signup {border-bottom: 1px solid black;}
.signup.hide, .signin.hide {width: 0px; padding: 0px; opacity: 0;}
.signup.expand, .signin.expand {width: 200px; background: rgba(20,20,20,.8); cursor: default;}
.close {color: white; cursor: pointer; opacity: 0; width: 0px;}
.close.unhide {opacity: 1; width: auto; padding: 10px;}
.auth {overflow: hidden; position: absolute; top: 0; right: 0; height: 39px;}
.auth.unhide {height: 200px;}
.auth-input {font: 16px "Droid Sans"; box-sizing: border-box; padding: 10px;}
.facebook {background: rgb(50, 86, 210);}
.google {background: white; color: black;}
