/*Pretend Classes*/
nav, #auth, #signout, #name {height: 40px;}
#auth, button {cursor: pointer;}
input, button {border: none;}
#auth_inputs, input, button {width: 200px;}
nav, nav a, button {color: white;}
#auth, button {background: rgb(20,20,20);}
#auth, #auth-inputs, #signout, #name {float: right;}
#facebook, #google {width: 50%;}
#signup, #signin, #close {width: 100px;}
nav a, #signup, #signin, #close, #signout, #name, #facebook, #google, input, button {font: 16px "Droid Sans";}
#auth_inputs, #signup, #signin, #close {transition: .2s all;}
#signup, #signin, #signout, #close, #facebook, #google, input, button, #name {box-sizing: border-box;}
nav a, #signup, #signin, #close, #facebook, #google, input, button {padding: 10px;}
nav a, #signup, #signin, #close, #facebook, #google {display: inline-block;}
#signin, #signup, #close {vertical-align: text-top;}
#signin.hide, #signup.hide, #close.hide, #auth_inputs.hide {width: 0px; padding: 0px; opacity: 0;}


/*Individual Styles*/
nav {background: rgb(100, 10, 10); border-bottom: 1px solid rgb(20,20,20); font-size: 0;}
nav a:first-child {margin-left: 10px;}
#auth {text-align: center;}
#auth_inputs {position: fixed; right: 0px; top: 40px; overflow: hidden;}
#google {background: white; color: black;}
#facebook {background: rgb(50, 86, 210);}
#name {padding: 10px 0px 10px 20px;}
#name-img {
  float: right;
  height: 30px; width: 40px;
  margin: 5px 10px;
  border: 1px solid white;
}
#signout {padding: 10px 20px; margin: 0;}
