input[type="radio"], input[type="checkbox"] {display: none;}

.add-gig {
  position: absolute;
  top: 10px;
  right: 10px;
}

.panel {
  overflow: hidden;
  position: absolute;
  top: 0px; left: 0;
  transition: .2s all;
  height: 100%;
  width: 100%;
}

.panel-side, .panel-main {vertical-align: text-top; height: 100%; display: inline-block; box-sizing: border-box; transition: .2s all;}
.panel-side {width: 250px; background: rgba(20,20,20,.5); border-right: 1px solid black;}

.title {
  display: block;
  color: white;
  background: rgba(20,20,20,.6);
  cursor: pointer;
}
.heading {
  transition: .2s all;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  font: 16px "Droid Sans";
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.heading.open {height: 80px;}
.heading input, .heading i {position: absolute;}
.heading input {top: 40px; width: 170px; left: 0; font: 16px "Droid Sans"; height: 40px; border: none; box-sizing: border-box; padding: 10px;}
.submit-gig, .cancel-gig {width: 20px; padding: 10px; top: 40px;}
.submit-gig {right: 40px;}
.submit-gig:hover {background: rgba(39, 215, 46, 0.7);}
.cancel-gig {right: 0px;}
.cancel-gig:hover {background: rgba(186, 34, 34, 0.7);}


.title div, .member div, .member label {
  transition: .2s all;
  vertical-align: text-top;
  box-sizing: border-box;
  font: 16px "Droid Sans";
  display: inline-block;
}
.title div:first-child {
  padding: 10px 5px;
  text-align: center;
  height: 40px;
  width: 50px;
  color: black;
  background: rgba(240,240,240,.8);
}
.title div:last-child {
  padding: 10px 5px 10px 10px;
  width: 199px;
  background: rgba(20,20,20,.8);
}

.member div {
  overflow: hidden;
  padding: 0px;
  text-align: center;
  height: 40px;
  width: 0px;
  color: white;
  background: rgb(100, 10, 10);
}

.member label {
  padding: 10px 5px 10px 10px;
  width: 249px;
  color: white;
  background: rgba(20,20,20,.8);
}
input[type="checkbox"]:checked + .member div {width: 50px; padding: 10px 5px;}
input[type="checkbox"]:checked + .member label {width: 199px;}

.title div:last-child:hover {background: rgba(20,20,20,.9);}

.panel-main {
  width: 0;
  opacity: 0;
  background: rgba(20,20,20,.3);
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
}

input[type="radio"]:checked + .panel-main {width: calc(100% - 250px); opacity: 1;}

.gig-title {text-align: center; font: 700 40px "Droid Sans"; padding: 20px;}

.gig-date, .gig-load, .gig-start, .gig-end {
  text-align: center;
  box-sizing: border-box;
  font: 16px "Droid Sans";
  display: inline-block;
  width: calc(90% / 4);
}
.gig-date div:first-child, .gig-load div:first-child, .gig-start div:first-child, .gig-end div:first-child {
  color: rgb(200,200,200);
  font-size: 14px;
  padding-bottom: 5px;
}
.gig-date div:last-child, .gig-load div:last-child, .gig-start div:last-child, .gig-end div:last-child {
  border: 1px solid black;
  padding: 10px;
  background: rgba(20,20,20,.7);
}
.gig-date, .gig-load, .gig-start {margin-left: 2%;}
.gig-end {margin: 0 2%;}
.gig-setlist {
  margin-top: 20px;
  background: rgba(20,20,20,.7);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.gig-setlist div {
  display: inline-block;
  box-sizing: border-box;
}

.setlist-title {
  text-align: center;
  padding: 10px;
  font: 20px "Droid Sans";
  width: 25%;
}

.setlist-description {
  font: 16px "Droid Sans";
  width: 75%;
}

.song {
  transition: .2s all;
  position: relative;
  background: rgba(240,240,240,.6);
  border-bottom: 1px solid rgb(100,100,100);
  height: 40px;
}
.song.open {margin: 10px;}

.gig-song, .song-info, .song-inputs {
  position: absolute;
  top: 0;
}
.gig-song {
  left: 0;
  box-sizing: border-box;
  color: black;
  font: 16px "Droid Sans";
  padding: 10px;
  width: calc(200% / 3);
  height: 40px;
}

.song-info, .song-inputs {
  right: 0;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 2px;
  vertical-align: top;
  overflow: hidden;
}
.song-info {height: 40px;}
.song-info.hide {height: 0px;}
.song-inputs {height: 0px;}
.song-inputs.show {height: 40px;}
.song-inputs input {color: white;}

input[type="checkbox"]:checked + .gig-song + .song-info {height: 48px;}

.song-key, .time-signature, .feel, .tempo {
  vertical-align: text-top;
  box-sizing: border-box;
  width: calc(90% / 4);
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 2%;
  height: 36px;
  background: rgb(20,20,20);
  font: 12px "Droid Sans";
}
.tempo {margin-right: 2%;}

.bands-content {overflow-y: scroll; padding: 40px 0px;}
.band-name, .bands-heading {
  display: block;
  font: 20px "Droid Sans";
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  width: 100%;
}
.band-name {background: rgba(230,230,230,.8); color: black;}
.band-name:hover {background: rgba(245,245,245,.9);}
.bands-heading {background: rgba(20,20,20,.8); color: white; cursor: default; margin-top: 20px;}

@media (max-width: 800px) {
  .bands-content {padding: 0px;}
  .bands-heading {margin-top: 0px; font-size: 16px;}
  .band-name {font-size: 16px;}
}

html, body {border: 0; height: 100%; margin: 0; padding: 0; width: 100%;}
a {text-decoration: none; display: inline-block;}
input, button {border: none;}
::-webkit-scrollbar {display: none;}
body {
  background-image: url("http://arounddeglobe.com/wp-content/uploads/2016/04/Kiyomizu-dera.jpg");
  background-size: cover;
  overflow: hidden;
  font-size: 0;
}
#content {
  position: relative;
  background: linear-gradient(to right, rgba(40,10,10,.6), rgba(30,10,30,.6));
  height: calc(100% - 40px);
}

.mw800 {margin: 0 auto; max-width: 800px; width: 100%;}
.abs-right {position: absolute; right: 0;}
.right {float: right;}
.ts {transition: .2s all;}
.w100 {width: 100px;}
.w250 {width: 250px !important;}
.w200 {width: 200px !important;}
.wauto {width: auto !important; padding: 10px 20px !important;}
.f13 {font-size: 13px !important; padding: 12px 10px !important;}
.bg20 {background: rgba(20,20,20,.8);}
.bg20a5 {background: rgba(20,20,20,.5);}
.bg200 {background: rgb(200,200,200); color: black !important;}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  cursor: pointer;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.home-content {
  color: white;
  font: 16px "Droid Sans";
  padding: 200px 20px;
  text-align: center;
}
.home-content h1, .home-content h2, .home-content h3 {
  text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
}

@media (max-width: 600px) {.home-content {font: 14px "Droid Sans";}}
@media (max-width: 475px) {.home-content {font: 12px "Droid Sans";}}
@media (max-width: 420px) {.home-content {font: 10px "Droid Sans";}}

nav {
  vertical-align: text-top;
  background: rgb(100, 10, 10);
  border-bottom: 1px solid black;
  height: 39px;
  overflow: hidden;
}

.link {
  transition: .2s all;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font: 16px "Droid Sans";
  padding: 10px;
  text-align: center;
  color: white;
  opacity: 1;
  width: 100px;
}

.back {vertical-align: bottom; height: 40px; padding: 10px; box-sizing: border-box; width: 40px; color: white; cursor: pointer;}
.signin, .signup {border-bottom: 1px solid black;}
.signup.hide, .signin.hide {width: 0px; padding: 0px; opacity: 0;}
.signup.expand, .signin.expand {width: 200px; background: rgba(20,20,20,.8); cursor: default;}
.close {color: white; cursor: pointer; opacity: 0; width: 0px;}
.close.unhide {opacity: 1; width: auto; padding: 10px;}
.auth {overflow: hidden; position: absolute; top: 0; right: 0; height: 39px; z-index: 1;}
.auth.unhide {height: 200px;}
.auth-input {font: 16px "Droid Sans"; box-sizing: border-box; padding: 10px;}
.facebook {background: rgb(50, 86, 210);}
.google {background: white; color: black;}
